
body {
    max-width: 375px;
    background-color: #f9eeff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    
}

.background-top {
    width: 400px;

}

.background-header {
    height: 230px;
    width: 400px;
    display: flex;
    
}

.card {
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: 525px;
    padding: 25px;
    display: flex;
    margin-top: -80px;
}
header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

h1{
    font-size: 2rem;
    padding-left: 25px;
    margin: 0px;
}

h2 {
    font-size: 1.15rem;
    margin: 25px 0;
    width: 90%;


}

p{
    font: .8rem;
}

svg {
    height: 25px;
    width: 25px;
}

.question {
    display: flex;
    align-items: center;
}



.faqs {
    border-top: 2px solid blue;

}

.hidden {
    display: none;
}

/* attributes */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
