body {
    background-color: bisque;
}

.card {
    background-color: white;
    width: 325px;
    height: 525px;
    padding: 20px;
}

h2 {
    font-size: 1.25rem;
}

p{
    font: .8rem;
}

svg {
    height: 20px;
    width: 20px;
}
header {
    display: flex;
}

.faqs-wrapper {
    border-top: 2px solid blue;
    display: flex;
}

.hidden {
    display: none;
}

/* attributes */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
